*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #101010;
}

.container{
    width: 1270px;
    height: 776px;
    display: flex;
}

.container img{
    width: 150px;
}

.side-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 581px;
    height: 70%;
    color: white;
    padding: 30px;
}

.side-1 h1{
    text-transform: uppercase;
    color: #e50914;
    font-size: 80px;
}

.play-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    background-color: #e50914;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.play-button:hover{
    background-color: white;
    color: #e50914;
    font-weight: bold;
}

.mylist-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    border: 3px solid #FFF;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.mylist-button:hover{
    color: #e50914;
    border: 3px solid #e50914;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.img-2{
    background-image: url('assets//img/image\ 2.png');
    height: 100%;
    width: 686px;
    background-position: center;
    background-size: contain;
}

.burrice-que-fiz{
    display: flex;
    align-items: center;
    height: 100%;
}